<nav class="app__navbar">
	<div class="app__navbar-logo">
		<a href="">
		<img src={{images.nsuonam}}
			alt="app logo"></a>
	</div>
	<ul class="app__navbar-links">
		<li class="p__opensans">
			<a href>Home</a>
		</li>
		<li class="p__opensans">
			<a href>About</a>
		</li>
		<li class="p__opensans">
			<a href>Menu</a>
		</li>
		<li class="p__opensans">
			<a href>Contact</a>
		</li>
	</ul>
	<div class="app__navbar-login">
		<a href
			class="p__opensans">
			Log In / Register
		</a>
		<div></div>
		<a href
			class="p__opensans">
			Reserve a table
		</a>
	</div>
	<div class="app__navbar-smallscreen">
		 
	</div>
</nav>
