<div class="app__header app__wrapper section__padding" id="home">
    <div class="app__wrapper_info">
        <!-- sub heading -->
        <div style="margin-bottom: 1rem;">
            <p class="p__cormorant">Experience Seafood Perfection</p>
            <img src={{images.spoon}} alt="spoon" class="spoon__img">
        </div>
        <!-- sub heading end -->
        <h1 class="app__header-h1">The key to fine dining.</h1>
        <p class="p__tenorSans" style="margin: 2rem 0;">
            Carefully curated by the celebrity Chef Mick Élysée, NsuomNam is the birthplace of sustainable and innovative pan-African cuisine in West Africa.
        </p>
        <button type="button" class="custom__button">Explore Menu</button>
    </div>
    <div class="app__wrapper_img">
        <img src={{images.welcome}} alt="head img">
    </div>
</div>
