<div class="app__bg app__wrapper section__padding">
    <div class="app__wrapper_img app__wrapper_img-reverse">
        <img src="{{images.chef}}" alt="chef">
    </div>

    <div class="app__wrapper_info">
        <app-sub-heading title="Chef's Word"></app-sub-heading>
        <h1 class="headtext__cormorant">What we believe in</h1>
        <div class="app__chef-content">
            <div class="app__chef-content_quote">
                <img src="{{images.quote}}" alt="quote">
                <p class="p__tenorSans">This concept is the first of its kind in West Africa, offering guests a progressive fine-dining experience in Ghana.</p>
            </div>
            <p class="p__tenorSans"> NsuomNam is the birthplace of sustainable and innovative pan-African cuisine in West Africa. NsuomNam is a new culinary experience that engages all senses.</p>
        </div>

        <div class="app__chef-sign">
            <p>Kwasi Obenteng</p>
            <p class="p__tenorSans">Chef and Founder</p>
            <img src="{{images.sign}}" alt="sign">
        </div>
    </div>
</div>
