<div class="app__aboutus app__bg flex__center section__padding" id="about">
    <div class="app__aboutus-overlay flex__center">
        <img src={{images.n}} alt="nsuomnam initial">
    </div>
    <div class="app__aboutus-content flex__center">
        <div class="app__aboutus-content_about">
            <h1 class="headtext__cormorant">About us</h1>
            <img src={{images.spoon}} alt="about_spoon" class="spoon__img">
            <p class="p__tenorSans">NsuomNam is a new culinary experience that engages all senses. Our menu offers traditional pan-African dishes presented with a modernistic approach.</p>
            <button type="button" class="custom__button">Know More</button>
        </div>

        <div class="app__aboutus-content_knife flex__center">
            <img src={{images.knife}} alt="">
        </div>

        <div class="app__aboutus-content_history">
            <h1 class="headtext__cormorant">Our History</h1>
            <img src={{images.spoon}} alt="about_spoon" class="spoon__img">
            <p class="p__tenorSans">This concept is the first of its kind in West Africa, offering guests a progressive fine-dining experience in Ghana.</p>
            <button type="button" class="custom__button">Know More</button>
        </div>
    </div>
</div>
